@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@font-face {
	font-family: 'Kanit', sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
}

* {
	font-family: 'Kanit', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    padding: 0.8vh 2.7vh;
    /* background-color: rgb(21, 21, 24); */
    background-image: url("bar.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    border-radius: 0.2vh;
    letter-spacing: 0.2vh;
    font-size: 1.2vh;
    color: #eee;
    border-bottom: solid 0.2vh #ff0303;
}

@keyframes step1 {
    from {
      opacity: 0;
      padding: 0vh 0vh;
    }
    to {
        opacity: 1;
        padding: 0.8vh 2.7vh;
    }
  }

.tt {
    border-radius: 15vh;
	/* background-color: rgb(12, 12, 14); */
    padding: 0.3vh 1vh;
    color: #ff0303;
    font-family: 'Kanit', sans-serif;
}

@keyframes step2 {
    from {
      opacity: 0;
      transform: rotate(-45deg) scale(1.8);
    }
    to {
      opacity: 1;
      transform: rotate(45deg);
    }
}

.icon{
    position: absolute;
    width: 0.7vh;
    height: 0.7vh;
    left: 0.4vh;
    bottom: 2.3vh;
    border-radius: 2vh;
    background: #ff0303;
}


.INPUT_CONTEXT {
    border-radius: 0.2vh;
    background-color: #ff0303;
    padding: 0.3vh 1vh;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
}
